body
{
    font-family: 'Josefin Sans', sans-serif;
	height: 100vh;
	width: 100%;
	background-size: cover;
	display: table;
	background-attachment: fixed;
	background-image: url(image/backgroud.jpg);
}

.glow {
	font-size: 80px;
	color: #fff;
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	to {
	  text-shadow: 0 0 2px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
  }

#heading
{       
	    left:17%;
    	width:100%;
        /* height: 100%; */
		background: #f503e985;
		margin-top: -3%;
		/* margin: 0 auto; */
		padding: 20px;
		border: 1px solid #00038c;
		box-shadow: 0 0 8px 5px #fff;
}

h1 
{
    margin-top: -1%;
    font-size: 3rem;
    color: white;
    text-align: center;
    font-size: 80px;
}
#text span, i {
      color: #f503e9;
      text-align: center;
    }
  


#quiz
{
	    height: 60%;
    	width: 75.9%;
    	position: absolute;
    	left:12%;
    	top: 33%;
    	background: rgba(255,255,255,0.5);
		padding: 20px;
		border-radius: 50px;
		border: 1px #00038c;
		box-shadow: 0 0 8px 5px #fff;
	
}

#question
{
   padding: 2%;
   font-size: 22px;
   background: #08038C;
   border-radius: 10px;
   margin: 10px 0 10px 0;
   color: #f6f6f6;
}

.option{
	width: 70%;
	display: inline-block;
	padding: 1% 0% 1% 0%;
	background: rgba(255,255,255,0.5);
	margin: 1% ;
	/* margin: 10px 0 10px 10px; */
	color: black;
	 border: 2px solid #008CBA; 
	border-radius: 5px;
}

.option:hover{
	background: #f503e9;
	color: #f6f6f6;	
}
#timer
{
	position: absolute;
	padding: 1%;
	font-size: 22px;
	background: #f503e9a8;
	border-radius: 100%;
	color: white;
	top: 200px;
	left: 83%;
}
#next 
{
	
	font-size: 20px;
    background-color: rgb(106, 90, 205) ;
	width:25%;
	height: 15%;
    border-radius: 100%;
	border: 1px solid #f503e9;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;;
	float: right;
	padding: 10px 10px;
	margin-top: -60px;
    /* margin-top: auto auto; */
    left: 750px;
}
#next:hover{
	background-color:#f503e9;
}

#quit
{
	/* position: relative; */
	position: absolute;
	bottom: 20px;
	right: 30px;
   	background-color: rgb(106, 90, 205);
	border: 1px solid #f503e9;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;;

	 padding: 5px 5px;
	
}
#quit:hover{
		background-color:#f503e9
}

#result
{
	
	   height: 60%;
	   width: 75.9%;
	   position: absolute;
	   left:12%;
	   top: 33%;
	   font-size:5em;
	   text-align: center;
	   border-radius: 50px;
       background: rgba(255,255,255,0.5);
	   padding: 0%;
	   border: 1px #00038c;
	   box-shadow: 0 0 8px 5px #fff;
  
}

img 
{
	height: 30%;
	width: 15%;
}

